services:

  backend:
    build:
      context: ./backend
    container_name: travelio-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: travelio-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped

  n8n:
    image: n8nio/n8n:latest
    container_name: travelio-n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - WEBHOOK_URL=http://localhost:5678
      - GENERIC_TIMEZONE=Asia/Kolkata
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  n8n_data: