
.carousel-wrapper {
    display: flex;
    align-items: center ;
    justify-content: center;
    gap: 20px;
    padding: 60px 40px;
    background: #f8fafc;
    overflow: visible;
}
.carousel-outer {
    overflow: visible;   /* allow vertical pop-out */
}

.carousel-container {
    width: 1378px;   /* 320 * 4 */
    overflow: hidden;
    border-radius: 50px;
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 40px rgba(0,0,0,0.3);
    /* max-height: 500px; */

    overflow-x: hidden;   /* block sideways */
    overflow-y: auto ;  /* allow vertical pop */


    max-width: 1500px;
    min-height: 300px;    /* give room for expansion */

    background: linear-gradient(
            135deg,
            #0b001a,
            #140028,
            #0b001a
    );
}

.card-item {
    flex: 0 0 320px;   /* 300 card + 20 gap */
}


.carousel-track {
    display: flex;
    gap: 24px;
    transition: transform 0.4s ease-in-out;
    align-items: center;
    padding: 40px 0;

}


.arrow {
    background: #0f172a;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 20;
}

.arrow:hover {
    background: #1e293b;
}
